# Define the OS and language for the build
os: linux
dist: focal
language: node_js

# Specify the Node.js version
node_js:
  - '24'

services:
  - mongodb

env:
  ENVIRONMENT: travis

script:
  - npm install
  - node --version
  - npm test

deploy:
  provider: lambda
  role: 'arn:aws:iam::057188795804:role/sendgrid-eventkit'
  region: 'eu-west-2'
  function_name: 'sendgrid-eventkit-private'
  handler_name: 'handler'
  runtime: 'nodejs24.x'
  timeout: 10
